*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://media.istockphoto.com/id/168678735/photo/metal-tic-tac-toe-game-pieces.webp?b=1&s=170667a&w=0&k=20&c=I_Lr3gpHLPuxMtCQbKSgqUUG2iSQMdBHd0sMnbncCcE=");
    opacity: -7px;
    padding-top: 5vh;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    text-align: center;
}

.container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container h1{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box1{
    border: 2px solid rgb(10, 10, 10);
    font-size: 1.6rem;
    font-weight: 600;
}

.container .box1:nth-child(even){
    border-right: none;
}

 

.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid rgb(11, 11, 11); 
}

 .box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid rgb(11, 11, 11);
} 

.box:hover{
    background-color: rgb(97, 39, 234);
}

#result{
    background-color: rgb(249, 217, 223);
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;


}

#result:hover{
    padding: 10px 40px;
    background-color: green;

}
